.note-input {
  border: none !important;
  box-shadow: none !important;
}

.note-input:focus {
  border: none !important;
  box-shadow: none !important;
}

#note-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.filter-label,
.container-select {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 0 !important;
}
