// Colours
$searcher: #f1f2f5;
$light-gray: rgb(218, 220, 224);
$note-blue: #007bff; // "Business"
$note-green: #28a745; // "Personal"
$note-red: #dc3545; // "Important"

// Sizes
$tam-base: 1rem;
