nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(218, 220, 224);
}

#profile-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-toggle::after {
  display: none !important;
}

[aria-labelledby=avatar-dropdown] {
  padding: 0px !important;
}